.form-img {
    background-image: url("../img/charles-rRWiVQzLm7k-unsplash.jpg");
    background-size: cover;
    padding: 0;
    min-height: 650px;
    width: 100%;
}

.form-wrapper{
    width: 55rem;
}
.form-title{
    margin-top: 2rem;
}
.alta{
    align-content: center;
    width: 248px;
}

.isi-form{
    font-family: 'Muli', sans-serif;
    padding: 0 0 0 4rem;
    font-size: 23px;
    color: #19345e;
}

.form-title{
    width: 100%;
    margin-left: 1rem;
}

/* .input-file{
    margin-top: 1rem;
} */

.rincian-form{
    font-size: 20px;
    margin: 0 10px 0 10px;
}

.btn-wrapper{
    display: flex;
    gap: 2rem;
}